<h1> articles index </h1>
<% @articles.each do |a| %>

	<h3><%=link_to a.title, article_path(a)%></h3></br>

<p><%=a.body%></p></br>
<div class='underline'></div>

 	<%end %>
 	<%= link_to "Create new article ", new_article_path %>